* {
    list-style: none; /*list에 점 없애기*/
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
    background-color: rgb(147, 188, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    position:fixed;
    top: 0;
    transition: 300ms ease-in-out background-color;
}

main {
    font-family: 'Poor Story', cursive;
    width: 100%;
}

/*header*/
.nav_logo {
    font-family: 'Pacifico', cursive;
    padding-left: 20px;
    font-size: 25px;
}

.nav_menuList {
    display: flex;
    flex-direction: row;
}

.nav_menuList li {
    padding: 8px 16px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px rgb(204, 198, 198);
}

.nav_menuList li :hover {
    background-color: rgba(240, 255, 255, 0.473);
    border-radius: 4px;
}

.nav_contact {
    padding-right: 1em;
}

.nav_contact a {
    padding: 8px 10px;
    font-size: 3vh;
}

.nav_contact a :hover {
    color: white;
}

.toggleBtn {
    display: none;
    position: absolute;
    right: 20px;
    padding-top: 13px;
    font-size: 4vh;
}

@media screen and (max-width:750px) {
    header {
        flex-direction: column;
    }
    
    .nav_logo {
        align-items: flex-start;
        width:100%;
        padding: 10px 0 10px 20px;
    }

    .nav_menuList {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav_menuList li {
        width: 100%
    }

    .nav_contact {
        display: none;
        top: 5px;
        text-align: center;
        padding: 0;
    }

    .toggleBtn {
        display: block;
    }

    .nav_menuList.active_btn,
    .nav_contact.active_btn {
        display: flex;
    }
}

/*nav scroll*/
.active_nav {
    background-color: rgb(81, 117, 234);
}

.active_nav .nav_logo {
    color: white;
}
.active_nav .nav_menuList a {
    color: white;
    text-shadow:2px 2px #525151;
}

.active_nav .nav_contact i {
    color: white;
}

.active_nav .nav_contact i:hover {
    color: black;
}


/*main*/
.intro_section {
    height: 100vh;
}

.intro_text {
    width: 100%;
    text-align: center;
    padding-top: 200px;
}


.type {
    font-size: 4rem;
    font-weight: bold;
}

.blink {
    animation: blink 0.5s infinite;
    font-size: 4rem;
    color: black;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.intro_text > h3 {
    font-size: 6vh;
    padding-top: 5rem;
}

/*main-clickIcon*/
.clickUp_icon {
    font-size: 30px;
    color:white;
    position: fixed;
    left: 90%;
    bottom: 10%;
}

.clickUp_icon :hover {
    color: tomato;
}

/*main-about*/
.about_section {
    /* background-color: whitesmoke; */
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 10vh;
    padding: 50px 0 0 100px;
    font-weight: bold;
}

.about_text {
    font-size: 4vh;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.about_img {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 250px);
    grid-gap: 1rem;
}

.img {
    width: 100%;
    height: 90%;
}

/*main-goal*/
.goal_section {
    /* background-color: rgb(204, 219, 253); */
    width: 100%;
    height: 100vh;
}

.goal_title {
    font-size: 60px;
    padding: 100px 0 0 100px;
    font-weight: bold;
}

.goal_text {
    font-size: 4vh;
    text-align: center;
    padding-top: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

.goal_text span {
    font-size: 5vh;
    font-weight: bold;
}

/*main-project*/
.project_section {
    /* background-color: rgb(167, 190, 246); */
    width: 100%;
    height: 100vh;
}
